<div class="contain-to-grid sticky" data-ng-controller="HeaderController">
	<top-bar is-hover="false">
		<ul class="title-area">
			<li class="name"><h1><a href="/#!/"><i class="fa fa-diamond"></i></a></h1></li>
			<li toggle-top-bar class="menu-icon">
				<a href="#" onclick="return false;"><i class="fa fa-bars" /></a>
			</li>
		</ul>
		<top-bar-section>
			<ul class="right">
				<li ui-route="/signin" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user" >
					<a href="/#!/signin">Sign In</a>
				</li>
				<li has-dropdown data-ng-show="authentication.user">
					<a href="#">
						<span data-ng-bind="authentication.user.displayName"></span>
					</a>
					<ul top-bar-dropdown>
						<li><a href="/#!/settings/profile">Edit Profile</a></li>
						<li>
							<a href="/#!/settings/accounts">Manage Social Accounts</a>
						</li>
						<li data-ng-show="authentication.user.provider === 'local'">
							<a href="/#!/settings/password">Change Password</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/auth/signout">Signout</a>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="left" data-ng-if="menu.shouldRender(authentication.user);">
				<div data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);">
					<li ng-class="{active: ($uiRoute)}" data-ng-show="item.menuItemType === 'dropdown'" has-dropdown>
						<a href="#" onclick="return false;">
							<span data-ng-bind="item.title"></span>
						</a>
						<ul class="dropdown">
							<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
								<a href="/#!/{{subitem.link}}" onclick="return false;" data-ng-bind="subitem.title"></a>
							</li>
						</ul>
					</li>
					<li ng-class="{active: ($uiRoute)}" data-ng-show="item.menuItemType === 'link'">
						<a href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
					</li>
				</div>
			</ul>
		</top-bar-section>
	</top-bar>
</div>

