//  -------------------------------------------------
//  Color constants
//  -------------------------------------------------

// Base colors
$purple: #4d4582;
$green: #568A46;
$black: #3F3D3C;
$orange: #DE4B36;
$yellow: #EABA51;
$blue: #0753A4;
$white: #F0F0F0;

// Variation
$purple-lighten-10: desaturate(lighten($purple, 10), 5);
$purple-lighten-20: desaturate(lighten($purple, 20), 5);
$purple-lighten-30: desaturate(lighten($purple, 30), 5);
$purple-lighten-40: desaturate(lighten($purple, 40), 5);
$purple-lighten-50: desaturate(lighten($purple, 50), 5);
$purple-lighten-60: desaturate(lighten($purple, 60), 5);
// --
$purple-darken-10: darken($purple, 10);

$green-lighten-10: desaturate(lighten($green, 10), 5);
$green-lighten-20: desaturate(lighten($green, 20), 5);
$green-lighten-30: desaturate(lighten($green, 30), 5);
$green-lighten-40: desaturate(lighten($green, 40), 5);
$green-lighten-50: desaturate(lighten($green, 50), 5);
// --
$green-darken-10: darken($green, 10);
$green-darken-20: darken($green, 20);

$black-lighten-10: desaturate(lighten($black, 10), 5);
$black-lighten-20: desaturate(lighten($black, 20), 5);
$black-lighten-30: desaturate(lighten($black, 30), 5);
$black-lighten-40: desaturate(lighten($black, 40), 5);
$black-lighten-50: desaturate(lighten($black, 50), 5);
$black-lighten-60: desaturate(lighten($black, 60), 5);
$black-lighten-70: desaturate(lighten($black, 70), 5);

$orange-lighten-10: desaturate(lighten($orange, 10), 5);
$orange-lighten-20: desaturate(lighten($orange, 20), 5);
$orange-lighten-30: desaturate(lighten($orange, 30), 5);
$orange-lighten-40: desaturate(lighten($orange, 40), 5);
// --
$orange-darken-10: darken($orange, 10);
$orange-darken-20: darken($orange, 20);
$orange-darken-30: darken($orange, 30);

$yellow-lighten-10: desaturate(lighten($yellow, 10), 5);
$yellow-lighten-20: desaturate(lighten($yellow, 20), 5);
$yellow-lighten-30: desaturate(lighten($yellow, 30), 5);
// --
$yellow-darken-10: darken($yellow, 10);
$yellow-darken-20: darken($yellow, 20);
$yellow-darken-30: darken($yellow, 30);
$yellow-darken-40: darken($yellow, 40);

// second tier color declaration
$font-color: $black;
$body-font-color: $font-color;
$link-color: $blue;
$primary-color: $purple;
$secondary-color: $green;
$alert-color: $orange;
// $success-color: #43AC6A;
$warning-color: $orange;
// $info-color: #a0d3e8;
