@import "colors",
  "top-bar",
  "buttons",
  "select2",
  "../../accounts/css/accounts",
  "../../expenses/css/budgets",
  "../../expenses/css/expenses";

.content {
	margin-top: 50px;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}
a {
  font-size: 12px;
}
