.contain-to-grid {
  background: transparent; }
  .contain-to-grid .top-bar {
    background: #d7d7d7; }
    .contain-to-grid .top-bar .top-bar-section ul li {
      background: #d7d7d7; }
      .contain-to-grid .top-bar .top-bar-section ul li.active a, .contain-to-grid .top-bar .top-bar-section ul li.active a:hover {
        background: #575757; }
      .contain-to-grid .top-bar .top-bar-section ul li a {
        background: #d7d7d7; }
        .contain-to-grid .top-bar .top-bar-section ul li a:hover {
          background: #575757; }

button, .button {
  border-radius: 5px;
  background-color: #0753A4;
  border-color: #053a73; }
  button:hover, .button:hover {
    background-color: #053a73; }
  button.alert, .button.alert {
    background-color: #DE4B36;
    border-color: #c13420; }
    button.alert:hover, .button.alert:hover {
      background-color: #c13420; }
  button.success, .button.success {
    background-color: #568A46;
    border-color: #416835; }
    button.success:hover, .button.success:hover {
      background-color: #416835; }
  button.tiny.round, .button.tiny.round {
    border-radius: 17px;
    padding: 0.7rem; }
    button.tiny.round i.fa, .button.tiny.round i.fa {
      width: 11px;
      height: 11px; }

.list-group.accounts-list ul {
  margin: 0; }
  .list-group.accounts-list ul li.list-item {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    height: 220px;
    padding-top: 20px;
    margin-right: 10px; }
    .list-group.accounts-list ul li.list-item.account .overview {
      text-align: center; }
      .list-group.accounts-list ul li.list-item.account .overview .overview-charts {
        width: 100%;
        height: 110px; }
      .list-group.accounts-list ul li.list-item.account .overview .actions {
        margin-left: auto;
        margin-right: auto; }
    .list-group.accounts-list ul li.list-item.new-account {
      vertical-align: middle; }
      .list-group.accounts-list ul li.list-item.new-account .add-account-btn {
        border: 1px solid #a4a4a4;
        color: #a4a4a4;
        cursor: pointer;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
        font-size: 24px;
        border-radius: 25px;
        text-align: center;
        -webkit-transition: background-color 0.3s linear, color 0.3s linear;
        -moz-transition: background-color 0.3s linear, color 0.3s linear;
        -o-transition: background-color 0.3s linear, color 0.3s linear;
        -ms-transition: background-color 0.3s linear, color 0.3s linear;
        transition: background-color 0.3s linear, color 0.3s linear; }
        .list-group.accounts-list ul li.list-item.new-account .add-account-btn:hover {
          background-color: #568A46;
          color: #F0F0F0;
          -webkit-transition: background-color 0.3s linear, color 0.3s linear;
          -moz-transition: background-color 0.3s linear, color 0.3s linear;
          -o-transition: background-color 0.3s linear, color 0.3s linear;
          -ms-transition: background-color 0.3s linear, color 0.3s linear;
          transition: background-color 0.3s linear, color 0.3s linear; }
        .list-group.accounts-list ul li.list-item.new-account .add-account-btn i {
          margin-top: 12px; }
    .list-group.accounts-list ul li.list-item:last-child {
      margin-right: 0; }

.content {
  margin-top: 50px;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.ng-invalid.ng-dirty {
  border-color: #FA787E; }

.ng-valid.ng-dirty {
  border-color: #78FA89; }

.browsehappy.jumbotron.hide,
body.ng-cloak {
  display: block; }

a {
  font-size: 12px; }

/*# sourceMappingURL=core.css.map */
