<section ng-controller="AccountsController" ng-init="find()">
  <div class="page-header">
    <h3>My Accounts</h3>
  </div>
  <div class="list-group accounts-list">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li class="list-item account" ng-repeat="account in accounts">
        <div class="overview" ng-show="!account.editMode">
          <h5 class="list-group-item-heading">{{account.name}}</h5>
          <div class="overview-charts">Charts-to-come</div>
          <div class="actions" ng-show="!account.confirmDelete">
            <a href class="button tiny round" ng-click="viewExpense(account)">
              <i class="fa fa-list"></i>
            </a>
            <a href class="button tiny round" ng-click="account.editMode=!account.editMode">
              <i class="fa fa-pencil"></i>
            </a>
            <a href class="button tiny round alert" ng-click="account.confirmDelete=!account.confirmDelete">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
          <div class="actions" ng-show="account.confirmDelete">
            <a href class="button tiny round alert" ng-click="remove(account)">
              <i class="fa fa-trash-o"></i>
            </a>
            <a href class="button secondary tiny round" ng-click="account.confirmDelete=!account.confirmDelete">
              <i class="fa fa-undo"></i>
            </a>
          </div>
        </div>
        <div ng-show="account.editMode">
          <form ng-submit="save(account)">
            <div class="row">
              <div class="small-12 columns">
                <label>Name
                  <input type="text" placeholder="Name" ng-model="account.name" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <label>Description
                  <input type="text" placeholder="Description" ng-model="account.description" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <button type="submit" class="button tiny round">
                  <i class="fa fa-save"></i>
                </button>
                <a href class="button secondary tiny round" ng-click="account.editMode=!account.editMode">
                  <i class="fa fa-undo"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </li>
      <li class="list-item new-account">
        <form class="new-account-form" ng-submit="create()" ng-if="!!newAccount">
          <div class="row">
            <div class="small-12 columns">
              <label>Name
                <input type="text" placeholder="Name" ng-model="newAccount.name" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>Description
                <input type="text" placeholder="Description" ng-model="newAccount.description" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input type="submit" class="button tiny" Value="Create" />
              <a href ng-click="cancelNewAccount()">Cancel</a>
            </div>
          </div>
        </form>
        <div class="add-account-btn" ng-if="!newAccount" ng-click="showNewAccountForm()">
          <i class="fa fa-plus" />
        </div>
      </li>
    </ul>
  </div>
</section>